.container-search {
	margin-top: 30px;
}
.home {
	color: rgb(163, 145, 97);
}
.card-container {
	display: flex;
	background-color: #fff;
	padding-top: 40px;
	gap: 2%;
	align-items: flex-start;
}
.card-desc {
	width: 25%;
	background-color: #fff;
}
.card-desc li {
	margin-right: 20px;
	line-height: 1.5;
	color: rgb(163, 145, 97);
	list-style: none;
}
.shop {
	margin: 10px;
	color: rgb(163, 145, 97);
	font-size: 16px;
}
.mini-heading {
	color: #000;
}
.first-brands {
	background-color: rgb(225, 225, 225);
	padding: 20px;
}
.another-brands,
.last-li {
	color: rgb(163, 145, 97);
}
.another-brands {
	margin-top: 30px;
	background-color: rgb(225, 225, 225);
	padding: 20px;
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.cards {
	border: 1px solid white;
}
.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 10px;
	align-content: center;
	gap: 20px;
}
.sorting {
	display: flex;
	justify-content: space-between;
	background-color: rgb(225, 225, 225);
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.sorting-left {
	display: flex;
	justify-content: space-between;
}
.window {
	color: rgb(163, 145, 97);
}
.sorting-left-icons {
	margin-top: 10px;
}
.sorting-right {
	display: flex;
	justify-content: space-between;
}
.products {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.products h3 {
	margin-top: 10px;
	line-height: 1.5;
}
.products span {
	text-decoration: line-through;
	color: #000;
	padding-right: 10px;
}
.products p {
	margin-top: 10px;
	color: rgb(163, 145, 97);
}
.single-product {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	height: 150px;
	overflow: hidden;
}
.products-info p {
	display: flex;
	gap: 20px;
}
.right-info {
	margin-right: 10px;
}
.right-info h2 {
	color: rgb(163, 145, 97);
	font-size: 18px;
}
.right-info li {
	list-style: none;
	padding: 10px;
	font-size: 14px;
}
.right-info p {
	color: rgb(163, 145, 97);
}
h3 {
	font-size: 12px;
	text-align: center;
}
h5 {
	margin-top: 10px;
}
h6 {
	margin: 10px;
	font-size: 14px;
}
.cart-button {
	background-color: rgb(163, 145, 97);
	margin: 20px;
	padding: 10px;
	color: #fff;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(163, 145, 97);
}
.footer-left,
.footer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
.footer-img {
	width: 400px;
}
.footer-left a {
	color: #fff;
	margin-left: 20px;
}
.footer-nav {
	display: flex;
	gap: 5%;
	color: #fff;
}
.footer-nav i {
	color: #fff;
}
a {
	text-decoration: none;
	color: inherit;
}
