* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
.header {
	background-color: #000000;
}

.upper__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}

.header__logo--img {
	font-size: 100px;
	width: 100px;
}
.header-right {
	display: flex;
	align-items: center;
}
form.search {
	margin-right: 40px;
	display: flex;
	height: 48px;
}
form.search input[type="text"] {
	padding-inline: 20px;
	font-size: 14px;
	border: 0;
	height: 100%;
	width: 200px;
}

form.search button {
	padding-inline: 20px;
	color: white;
	font-size: 17px;
	border: 0;
	cursor: pointer;
	height: 100%;
}

form.search::after {
	content: "";
	clear: both;
	display: table;
}

.header__menu--icons {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	color: lightgray;
	margin-right: 20px;
}
.lower-menu {
	background-color: #000000;
}
.ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	color: #fff;
	padding: 15px;
}
.Nav__ul__li {
	list-style: none;
}
.selected {
	color: rgb(163, 145, 97);
}
.uk-edition {
	margin: 20px;
}
.home-amplifier {
	color: rgb(163, 145, 97);
}
.page-detail {
	padding: 50px;
}

.main-details {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.mini-flex {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.detail-page-left-content {
	width: 50%;
	padding: 20px;
}
.main-lefft-img {
	border: 1px solid gainsboro;
}
.more-view {
	color: rgb(163, 145, 97);
	margin: 10px;
}
.mini-img {
	display: flex;
	width: 50px;
	gap: 10%;
}
.desc {
	color: rgb(163, 145, 97);
	margin-top: 80px;
}
.detail-page-description li {
	display: flex;
	gap: 20%;
	line-height: 1.5;
}
.gray-box {
	padding: 50px;
	background-color: rgb(225, 225, 225);
	margin-top: 10px;
}
.main-right-details {
	width: 50%;
	padding: 20px;
}
.edition {
	color: rgb(163, 145, 97);
	font-size: 20px;
}
.view-product {
	color: rgb(163, 145, 97);
	font-size: 22px;
}
.current-price {
	color: rgb(163, 145, 97);
	margin-left: 20px;
	font-size: 20px;
}
.onsale {
	text-decoration: line-through;
	color: #000;
}
.detail-button {
	background-color: rgb(163, 145, 97);
	padding: 10px;
	margin-top: 20px;
	color: #fff;
}
.form-container {
	border: 1px solid gainsboro;
	margin: 10px;
}
.required-area {
	display: flex;
	justify-content: space-between;
}
.required {
	color: red;
}
.star {
	color: red;
}
.reqired-box {
	padding: 20px;
}
.black-checkbox {
	background-color: rgb(225, 225, 225);
	display: flex;
	gap: 5%;
	padding: 10px;
	max-width: 40%;
	align-items: center;
}
.silver-checkbox {
	background-color: rgb(225, 225, 225);
	display: flex;
	margin-top: 20px;
	padding: 10px;
	max-width: 40%;
	gap: 5%;
	align-items: center;
}

.gray-box label {
	color: rgb(163, 145, 97);
	padding: 10px;
}
.gray-box button {
	background-color: rgb(163, 145, 97);
	color: #fff;
	padding: 10px;
}
.paypal p {
	margin-left: 120px;
	margin-top: 5px;
}
.paypal img {
	width: 150px;
	margin-left: 70px;
	margin-top: 10px;
}
hr {
	margin-top: 30px;
}
table {
	margin: 10px;
	width: 90%;
}
table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
td,
th {
	padding: 10px;
}
.table-heading {
	margin: 10px;
	color: rgb(163, 145, 97);
}
.marantz {
	color: rgb(163, 145, 97);
}
.half-gray {
	background-color: rgb(225, 225, 225);
	text-align: left;
	max-width: 100px;
	font-size: 16px;
	font-weight: normal;
}
.call-us {
	text-align: center;
	background-color: #000;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	color: rgb(163, 145, 97);
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: rgb(163, 145, 97);
}
.footer-left,
.footer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
.footer-img {
	width: 400px;
}
.footer-left a {
	color: #fff;
	margin-left: 20px;
}
.footer-nav {
	display: flex;
	gap: 5%;
	color: #fff;
}
.footer-nav i {
	color: #fff;
}
