* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
.header {
	background-color: #000000;
}

.upper__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}

.header__logo--img {
	font-size: 100px;
	width: 100px;
}
.header-right {
	display: flex;
	align-items: center;
}
form.search {
	margin-right: 40px;
	display: flex;
	height: 48px;
}
form.search input[type="text"] {
	padding-inline: 20px;
	font-size: 14px;
	border: 0;
	height: 100%;
	width: 200px;
}

form.search button {
	padding-inline: 20px;
	color: white;
	font-size: 17px;
	border: 0;
	cursor: pointer;
	height: 100%;
}

form.search::after {
	content: "";
	clear: both;
	display: table;
}

.header__menu--icons {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	color: lightgray;
	margin-right: 20px;
}
.lower-menu {
	background-color: #000000;
}
.ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	color: #fff;
	padding: 15px;
}
.Nav__ul__li {
	list-style: none;
}
.selected {
	color: rgb(163, 145, 97);
}
.page-detail {
	padding: 50px;
}
.call-us {
	text-align: center;
	background-color: #000;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	color: rgb(163, 145, 97);
}
.main-details {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.mini-flex {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.main-lefft-img {
	padding: 20px;
	border: 1px solid gainsboro;
}
.main-right-details {
	padding: 20px;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(163, 145, 97);
}
.footer-left,
.footer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
.footer-img {
	width: 400px;
}
.footer-left a {
	color: #fff;
	margin-left: 20px;
}
.footer-nav {
	display: flex;
	gap: 5%;
	color: #fff;
}
.footer-nav i {
	color: #fff;
}
