* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
h2 {
	position: absolute;
	color: rgb(163, 145, 97);
	margin-top: 100px;
	margin-left: 100px;
	font-size: 32px;
}

.header {
	position: absolute;
	width: 100%;
}
.lower-menu {
	background-color: #000000;
}
.upper__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}
.opacity-uper-menu {
	background-color: rgba(0, 0, 0, 50%);
}

.logo-image {
	font-size: 100px;
	width: 200px;
	position: absolute;
	bottom: 50%;
	right: 30%;
}
.header__logo img {
	width: 150px;
}
.stock-info {
	color: rgb(163, 145, 97) !important;
	padding: 0px;
}
.brands-title {
	color: rgb(163, 145, 97);
	padding: 10px;
}
.brand-link {
	color: rgb(163, 145, 97);
	padding: 10px;
}
.header-right {
	display: flex;
	align-items: center;
}
.upper__menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}
.header__menu--icons {
	display: flex;
	gap: 20px;
	color: lightgray;
	margin-right: 20px;
	font-size: 20px;
	align-items: center;
}
.lower-menu {
	background-color: #000000;
}
.ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	color: #fff;
	padding: 15px;
}

.Nav__ul__li {
	list-style: none;
}
.selected {
	color: rgb(163, 145, 97);
}
.subscribe {
	background: linear-gradient(
		180deg,
		rgba(42, 177, 245, 1) 0%,
		rgba(22, 150, 241, 1) 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	gap: 2px;
}
hr {
	height: 15px;
}
.home-quote {
	position: relative;
}
.quote {
	position: absolute;
	top: 30%;
	color: #fff;
	right: 30%;
	font-size: 32px;
}
.gallery {
	position: relative;
}
.arrow {
	position: absolute;
	top: 50%;
	background: transparent;
	border: 0;
	color: rgb(163, 145, 97);
	font-size: 45px;
	outline: 0;
}
#prev {
	left: 10px;
	cursor: pointer;
}
#next {
	right: 10px;
	justify-self: end;
	cursor: pointer;
}

.social-imges {
	display: flex;
}
.front-page-social-imag {
	height: 100%;
}
.social-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-facebook,
.social-blog,
.social-twitter {
	width: 40%;
	position: absolute;
}
.front-page-footer-info {
	display: flex;
	color: #fff;
	background-color: #000000;
	padding: 30px;
}

.front-page-footer-info button {
	padding: 10px;
	color: rgb(163, 145, 97);
	margin-left: 100px;
	background-color: inherit;
	border: 1px solid #fff;
}
.front-page-footer-info p {
	margin: 10px;
	padding: 10px;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: rgb(163, 145, 97);
}
.footer-left,
.footer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
.footer-img {
	width: 400px;
}
.footer-left a {
	color: #fff;
	margin-left: 20px;
}
.footer-nav {
	display: flex;
	gap: 5%;
	color: #fff;
}

.footer-nav i {
	color: #fff;
}
