* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #fff;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.Header {
	background-color: #000000;
}

.Header__upper-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}

.Header__logo {
	background-image: url("images/banner-speaker.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header__logo img {
	width: 150px;
}

a {
	color: inherit;
	text-decoration: none;
}

.stock-info {
	color: rgb(163, 145, 97) !important;
	padding: 0px;
}

.brands-title {
	color: rgb(163, 145, 97);
	padding: 10px;
}

.brand-link {
	color: rgb(163, 145, 97);
	padding: 10px;
}

.Header__right {
	display: flex;
	align-items: center;
}

.Header__upper-menu {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}

.Header__menu--icons {
	display: flex;
	gap: 20px;
	color: lightgray;
	margin-right: 20px;
}

.Header__lower-menu {
	background-color: #000000;
}

.Header__nav__ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	color: #fff;
	padding: 15px;
}

.Header__nav__ul__li {
	list-style: none;
}

.selected {
	color: rgb(163, 145, 97);
}

.top-brand-title {
	color: #fff;
	font-size: 22px;
}

.Header__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.brands-baner {
	width: 50%;
	background: linear-gradient(
		90deg,
		rgba(6, 6, 6, 1) 0%,
		rgba(33, 33, 33, 1) 100%
	);
}

.brands-baner img {
	width: 100%;
	margin: 10px;
}

.store {
	display: flex;
	padding: 20px;
}

.brands-baner p {
	color: #fff;
	margin: 10px;
}

.Footer--main {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: rgb(163, 145, 97);
}

.Footer--main__left,
.Footer--main__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}

.Footer--main__img {
	width: 400px;
}

.Footer--main__left .Footer--main__link {
	color: #fff;
	margin-left: 20px;
}

.Footer--main__nav {
	display: flex;
	gap: 5%;
	color: #fff;
}

.Footer--main__nav i {
	color: #fff;
}
.Footer--main__link {
	text-decoration: underline;
}
