* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
img {
	width: 100%;
	height: auto;
	display: block;
}
.header {
	background-color: #000000;
}

.upper__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid rgb(163, 145, 97);
}

.header__logo--img {
	font-size: 100px;
	width: 100px;
}
.header-right {
	display: flex;
	align-items: center;
}

.header__menu--icons {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	color: lightgray;
	margin-right: 20px;
}
.lower-menu {
	background-color: #000000;
}
.ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	color: #fff;
	padding: 15px;
}
.Nav__ul__li {
	list-style: none;
}
.selected {
	color: rgb(163, 145, 97);
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(163, 145, 97);
}
.footer-left,
.footer-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}
.footer-img {
	width: 400px;
}
.footer-left a {
	color: #fff;
	margin-left: 20px;
}
.footer-nav {
	display: flex;
	gap: 5%;
	color: #fff;
}
.footer-nav i {
	color: #fff;
}
